{% extends 'base.html.twig' %}

{% block title %}ResaClub{% endblock %}

{% block body %}
    <main>
        <div class="row">
        <div class= "col-md-12 prog">
            <br>
            <h2>Les joueurs de l'équipe de France <i class="fas fa-star"></i> <i class="fas fa-star"></i></h2><hr>
        </div>
        </div>
    <section class="row prog">
        <div class="col-md-3">
        <h2>Les Gardiens</h2>
        <br>
        </div>
        <div class="col-md-3">
            <img src="{{ asset('build/images/areola.35e478e8.png') }}" alt="Aplhonse">
            <p>A.Areola</p>
        </div>
        <div class="col-md-3">
            <img src="{{ asset('build/images/mandanda.f4e704c8.png') }}" alt="Steve">
            <p>S.Mandanda</p>
        </div>
        <div class="col-md-3">
            <img src="{{ asset('build/images/lloris.b675bb35.png') }}" alt="Hugo">
            <p>H.Lloris</p><br><br>
        </div>
    </section>
    <section class="row prog">
        <div class="col-md-3">
        <h2>Les Defenseurs</h2><br>
        </div>
        <div class="col-md-3">
            <img src="{{ asset('build/images/sidibe.b1080ccf.png') }}" alt="Djibril">
            <p>D.Sidibe</p>
        </div>
        <div class="col-md-3">
            <img src="{{ asset('build/images/pavard.60f48d49.png') }}" alt="Benjamin">
            <p>B.Pavard</p>
        </div>
        <div class="col-md-3">
            <img src="{{ asset('build/images/varane.aedd3170.png') }}" alt="Raphael">
            <p>R.Varane</p>
        </div>
    </section>
        <section class="row prog">
        <div class="col-md-3">
            <img src="{{ asset('build/images/umtiti.739e0f4d.png') }}" alt="Samuel">
            <p>S.Umtiti</p>
        </div>
        <div class="col-md-3">
            <img src="{{ asset('build/images/kingpembe.26ef94db.png') }}" alt="Presnel">
            <p>P.Kimpembe</p>
        </div>
        <div class="col-md-3">
            <img src="{{ asset('build/images/mendy.14edad55.png') }}" alt="Benjamin">
            <p>B.Mendy</p>
        </div>
        <div class="col-md-3">
            <img src="{{ asset('build/images/hernandez.28b4ea48.png') }}" alt="Lucas">
            <p>L.Hernandez</p><br><br>
        </div>
    </section>
    <section class="row prog">
        <div class="col-md-3">
        <h2>Les Milieux</h2><br>
        </div>
        <div class="col-md-3">
            <img src="{{ asset('build/images/kante.ba5908cd.png') }}" alt="Ngolo">
            <p>N.Kante</p>
        </div>
        <div class="col-md-3">
            <img src="{{ asset('build/images/nzonzi.11b1a2d6.png') }}" alt="Steven">
            <p>N.Nzonzi</p>
        </div>
        <div class="col-md-3">
            <img src="{{ asset('build/images/matuidi.3c39a2f3.png') }}" alt="Blaise">
            <p>B.Matudi</p>
        </div>
    </section>
    <section class="row prog">
        <div class="col"></div>
        <div class="col">
            <img src="{{ asset('build/images/pogba.01721781.png') }}" alt="Paul">
            <p>P.Pogba</p>
        </div>
        <div class="col"></div>
        <div class="col">
            <img src="{{ asset('build/images/tolisso.8c258010.png') }}" alt="Corentin">
            <p>C.Tolisso</p><br><br>
        </div>
    </section>
    <section class="row prog">
        <div class="col-md-3">
        <h2>Les Attaquants</h2><br>
        </div>
        <div class="col-md-3">
            <img src="{{ asset('build/images/dembele.71e1f91c.png') }}" alt="Oussmane">
            <p>O.Dembele</p>
        </div>
        <div class="col-md-3">
            <img src="{{ asset('build/images/fekir.e4dd13cb.png') }}" alt="Nabil">
            <p>N.Fekir</p>
        </div>
        <div class="col-md-3">
            <img src="{{ asset('build/images/giroud.d77d406f.png') }}" alt="Olivier">
            <p>O.Giroud</p>
        </div>
    </section>
        <section class="row prog">
        <div class="col-md-4">
            <img src="{{ asset('build/images/griezmann.721a3e35.png') }}" alt="Antoine">
            <p>A.Griezmann</p>
        </div>
        <div class="col-md-4">
            <img src="{{ asset('build/images/lemar.3001bf06.png') }}" alt="Thomas">
            <p>T.Lemar</p>
        </div>
        <div class="col-md-4">
            <img src="{{ asset('build/images/mbappe.38e8e629.png') }}" alt="Kylian">
            <p>K. "Génie" Mbappe</p>
        </div>
    </section>
</main>
{% endblock %}
