{% extends 'base.html.twig' %}

{% block title %}ResaClub{% endblock %}

{% block body %}
    <main class="row prog">
        <div class="col-md-12">
            <br>
            <h2><i class="fas fa-calendar-alt"></i> Le Programme Des Bleus</h2><br>
            <p><i class="fas fa-futbol"></i> Les Rendez-Vous de l'Equipe De France <i class="fas fa-futbol"></i></p><hr><br>
        </div>
        <div class="col-md-12">
            <p>
                    <i class="fas fa-trophy"></i>    COUPE DU MONDE <br>
                VENDREDI 6 JUILLET 2018 À 16:00 <br>
            NIJNI-NOVGOROD - STADE DE NIJNI-NOVGOROD <br>
                    <img src="{{asset('build/images/blank.d8974688.gif')}}" class="flag flag-uy" alt="Uruguay" />    URUGUAY / FRANCE <img src="{{asset('build/images/blank.d8974688.gif')}}" class="flag flag-fr" alt="France" /> <hr><br>
            </p>
            <p>
                    <i class="fas fa-trophy"></i>    LIGUE DES NATIONS <br>
                JEUDI 6 SEPTEMBRE 2018 À 20:45 <br>
                    <img src="{{asset('build/images/blank.d8974688.gif')}}" class="flag flag-de" alt="Allemagne" />    ALLEMAGNE / FRANCE <img src="{{asset('build/images/blank.d8974688.gif')}}" class="flag flag-fr" alt="France" /> <hr><br>
            </p>
            <p>
                    <i class="fas fa-trophy"></i>    LIGUE DES NATIONS <br>
                DIMANCHE 9 SEPTEMBRE 2018 À 20:45 <br>
                    <img src="{{asset('build/images/blank.d8974688.gif')}}" class="flag flag-fr" alt="France" /> FRANCE / PAYS-BAS <img src="{{asset('build/images/blank.d8974688.gif')}}" class="flag flag-nl" alt="Pays-Bas" /> <hr><br>
            </p>
            <p>
                    <i class="fas fa-trophy"></i>    LIGUE DES NATIONS <br>
                MARDI 16 OCTOBRE 2018 À 20:45 <br>
                    <img src="{{asset('build/images/blank.d8974688.gif')}}" class="flag flag-fr" alt="France" />  FRANCE / ALLEMAGNE <img src="{{asset('build/images/blank.d8974688.gif')}}" class="flag flag-de" alt="Allemagne" /> <hr><br>
            </p>
            <p>
                    <i class="fas fa-trophy"></i>    LIGUE DES NATIONS <br>
                VENDREDI 16 NOVEMBRE 2018 À 20:45 <br>
                    <img src="{{asset('build/images/blank.d8974688.gif')}}" class="flag flag-nl" alt="Pays-Bas" />    PAYS-BAS / FRANCE <img src="{{asset('build/images/blank.d8974688.gif')}}" class="flag flag-fr" alt="France" /> <hr><br>
            </p>
        </div>
    </main>
{% endblock %}
